#background{

}
#letras-navbar{
	background-color: transparent;
    color:#32CD32;
    border: none;
    font-family: Andale Mono, monospace;
}
#form-login{
	margin-top: 200px;
}	
#letras{
	color:#32CD32;
    margin-top: 40px;
}
#form-criar-conta{
    margin-top: 200px;
}